@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');



QWidget {
    background-color: rgb(255, 255, 255);
}

QPushButton {
    border-radius: 10px;
    border: 1px solid rgba(44, 44, 44, 0.733);
    height: 20px;
    background-color: rgba(255, 255, 255, 0.24);
    color: rgba(0, 0, 0, 0.829);
    font-family: 'Nanum Pen Script', cursive;
}

QListWidget {
    border-radius: 10px;
    border: 3px solid rgba(44, 44, 44, 0.733);
    padding: 4px;
    font-family: 'Nanum Pen Script', cursive;
}